<div class="container">
    <div class="accordion_display">
        <div class="accordion_size">
            <mat-accordion multi="true" *ngIf="tableData.length">
                <mat-expansion-panel *ngFor="let table of tableData; let i=index" hideToggle="false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span>{{ table.name }}</span>
                            <span class="spacer"></span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-panel-description>
                        {{ table.description }}
                    </mat-panel-description>
                    <mat-action-row>
                        <button [routerLink]="['/listTask', tableData[i]._id]" class="tarea">
              Mostrar tareas
            </button>

                        <mat-icon>group_add</mat-icon>
                        <!-- <mat-icon color="primary" (click)="deleteTask(item)"
                      >delete</mat-icon
                    > -->
                        <span class="spacer"></span>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>

            <!-- <mat-accordion multi="true" *ngIf="tableData.length">
                <mat-expansion-panel *ngFor="let table of tableData.workBoardId; let i=index" hideToggle="false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span>{{ table.workBoardId.name }}</span>
                            <span class="spacer"></span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-panel-description>
                        {{ table.workBoardId.description }}
                    </mat-panel-description>
                    <mat-action-row>
                        <button [routerLink]="['/listTask', tableData[i]._id]" class="tarea">
              Mostrar tareas
            </button>

                        <mat-icon>group_add</mat-icon>

                        <span class="spacer"></span>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion> -->
        </div>
    </div>
</div>