.todo {
  position: relative;
  min-height: 85vh;
  display: flex;
  justify-content: center;
}
* {
  padding: 0;
  margin: 0;
}

.caja {
  display: flex;
  width: 170%;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  padding: 0;
  margin: 0;
  display: flex;
}

mat-card {
  margin: 5px;
  width: 230px;
}

mat-card-actions {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}

mat-icon {
  width: 23px;
  height: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.multi-button button {
  height: 45px;
  width: 80px;
  background: linear-gradient(to bottom, #0077b6, #48cae4);
  font-weight: bold;
  color: white;
  font-size: 0.8rem;
  border: none;
  margin: -5px;
  padding: 0;
  stroke: rgb(97, 4, 247);
  outline: none;
}

button:hover {
  cursor: pointer;
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.45));
}
button:active {
  filter: none;
  transform: scale(0.95);
}


@media (max-width: 476px){
  mat-card {
    margin: 5px;
    width: 100%;
  }
}