<section>
  <div class="bgComponent">
    <div class="form">
      <img class="imagen" src="../../../assets/debbel2.png" />
      <h2>Recupera tu cuenta</h2>
      <hr>
      <p>We will send you a link to change your password to your email</p>
      <!-- <mat-card-title>Login</mat-card-title> -->
      <mat-card-content>
        <div class="container">
          <div class="inputBx">
            <span>email</span>
            <input [(ngModel)]="sendPasswordData.email" type="email" required />
          </div>
        </div>
      </mat-card-content>
      <div class="inputBx">
        <input (click)="sendPassword()" type="submit" value="send email" />
      </div>
      <hr />
      <a class="hiper" href="/login"
        ><mat-icon>fast_rewind</mat-icon>Return to login</a
      >
    </div>
  </div>
</section>