@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.bgComponent {
  background-color: #a5abaf;
  width: 100%;
  height: 50%;
  padding-bottom: 30%;
  background: url("../../../assets/Fondo.jpg");
  position: relative;
  min-height: 90vh;
}
.h1 {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
.imagen {
  margin: 10px auto;
  display: block;
  max-width: 40%;
  max-height: 80%;
}
.container {
  display: flex;
  flex-direction: column;
}

.card {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 16px 0px;
}

mat-card-title {
  text-align: center;
}

.glow-on-hover {
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #0077b6;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  width: 100%;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #0077b6;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0077b6;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
