* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabe {
  width: 100%;
  flex: 1;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

section .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
}

section .imgBx img {
  top: 0;
  left: 0;
  width: 400px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-title {
  color: #03045e;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid #a55800;
  display: inline-block;
  letter-spacing: 1px;
}

section .bgComponent {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

section .bgComponent .form {
  flex: 1;
  width: 100%;
  padding: 100px 30px;
  align-items: center;
  background: rgb(255 255 255 / 0.9);
  margin: 30px;
  opacity: 1;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
    inset 8px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
}

section .dos {
  flex: 1;
  margin: 10px auto;
  display: block;
  max-width: 100%;
  max-height: 40%;
}

section .dos img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

section .bgComponent .form h2 {
  padding: 30px;
  display: flex;
  justify-content: center;
  font-size: 0.9cm;
}
.multi-button{
  display: flex;
  padding: 0 0 0 30px;
  align-items: flex-end;
}
section .bgComponent .form .inputBx {
  margin-bottom: 20px;
  text-align: center;
}

section .bgComponent .form .inputBx input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607d8b;
  font-size: 16px;
  letter-spacing: 1px;
  color: #25343b;
  background: transparent;
  border-radius: 10px;
}

section .bgComponent .form a {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  background: transparent;
  border-radius: 30px;
  color: rgb(34, 34, 34);
  cursor: pointer;
}

section .bgComponent .form a:hover {
  color: #ef476f;
}

.line {
  background: #000;
  height: 1px;
}

section .bgComponent .form .inputBx input[type="submit"] {
  background: #149cbe;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

section .bgComponent .form .inputBx input[type="submit"]:hover {
  background: #1e91ad;
}

section .bgComponent h3 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #607d8b;
  text-align: center;
  margin: 10px 0 10px;
  font-weight: 500;
}

section .bgComponent a {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 20px;
}

section .bgComponent .sci {
  display: flex;
  justify-content: center;
  align-items: center;
}

section .bgComponent li {
  list-style: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9db6c2;
  border-radius: 50%;
  margin: 0 7px;
  cursor: pointer;
}

section .bgComponent li:hover {
  background: cornflowerblue;
}

section .bgComponent li img {
  transform: scale(0.5);
  filter: invert(1);
}

@media (max-width: 768px) {
  p {
    font-size: 0;
  }

  section .bgComponent .form .inputBx a {
    font-size: 11px;
  }

  section .imgBx {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: auto;
  }

  section .bgComponent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  section .bgComponent .form {
    width: 100%;
    padding: 20px;
    background: rgb(255 255 255 / 0.9);
    margin: 30px;
    border-radius: 20px;
  }

  .contentBx .formBx h3 {
    color: #607d8b;
    text-align: center;
    margin: 30px 0 10px;
    font-weight: 500;
  }
}

@media (max-width: 1060px) {
  section .bgComponent .form .inputBx a {
    font-size: 10px;
  }
}

.glow-on-hover {
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #0077b6;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  width: 100%;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #0077b6;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #149cbe;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

button {
  font-size: 20px;
}
