<section>
  <div class="imgBx">
    <img src="../../../assets/ind.jpg" />
  </div>
  <p>
    Debbel siempre a tu lado.
    <br />
    Te da la facilidad de tener todas tus tareas presente.
  </p>
  <div class="bgComponent">
    <div class="form">
      <img class="imagen" src="../../../assets/debbel2.png" />
      <mat-card-content>
        <div class="container">
          <div class="inputBx">
            <span>email</span>
            <input [(ngModel)]="loginData.email" type="email" required />
          </div>

          <div class="inputBx">
            <span>password</span>
            <input [(ngModel)]="loginData.password" type="password" required />
          </div>
        </div>
      </mat-card-content>
      <div class="inputBx">
        <input (click)="login()" type="submit" value="login" />
      </div>

      <a class="hiper" href="/sendPassword/">¿Did you forget your password?</a>
      <hr />
      <div class="inputBx">
        <a class="hiper" href="/signUp" type="submit"
          >Sign up to create an account</a
        >
      </div>
      <h3>Login with social media</h3>
      <ul (click)="signInWithGoogle()" class="sci">
        <li><img src="../../../assets/google_negro.png" width="70px"></li>
      </ul>
    </div>
  </div>
</section>