<div class="cabe"></div>
<section>
  <div class="bgComponent">
    <div class="dos">
      <!-- <p>Administra tus horarios, tareas y carga de trabajo.</p> -->
      <img class="imagen" src="../../../assets/tareas.png" width="95%" />
    </div>

    <div class="form">
      <h2 class="text">READY TO FINISH YOUR TASKS?</h2>
      <mat-card-content>
        <div class="container">
          <div class="inputBx">
            <span>Table name</span>
            <input [(ngModel)]="registerData.name" type="text" required />
          </div>

          <div class="inputBx">
            <span>Description</span>
            <input
              [(ngModel)]="registerData.description"
              type="text"
              required
            />
          </div>
        </div>
      </mat-card-content>
      <input type="file" (change)="uploadImg($event)" />

      <div class="inputBx">
        <br />
        <button (click)="saveTaskImg()" class="glow-on-hover" mat-raised-button>
          Create
        </button>
      </div>
    </div>
  </div>
</section>
